NODE_ENV=development
PORT=3002

# DB
DB_PORT=5433
DATABASE_URL=postgresql://postgres:postgres@db_reservation:5432/reservation_db

# External dependency
HOTEL_SERVICE_URL=http://hotel-service:3001

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# Auth / internal calls
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_ACCESS_EXPIRES_IN=15m
SERVICE_TOKEN=internal-service-token-change-in-production

