NODE_ENV=development
PORT=3001

# DB
DB_PORT=5436
DATABASE_URL=postgresql://postgres:postgres@db_hotel:5432/hotel_db

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# Auth
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_ACCESS_EXPIRES_IN=15m
SERVICE_TOKEN=internal-service-token-change-in-production

