NODE_ENV=development
PORT=3006

# DB (inside docker network)
DB_PORT=5438
DATABASE_URL=postgresql://postgres:postgres@db_auth:5432/auth_db

# External dependency (run user-service separately on your host)
USER_SERVICE_URL=http://user-service:3005

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# Auth
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-in-production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Internal calls
SERVICE_TOKEN=internal-service-token-change-in-production

